<footer class="site-footer">
    <div class="footer-inner">

        <div class="footer-col footer-brand">
            <img src="images/ArchiScaffoldinglogo.png" alt="Achi Scaffolding Logo" class="site-logo">
        </div>

        <div class="footer-col">

            <div class="footer-quicklinks-grid">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="products.html">Products</a></li>
                </ul>

                <ul>
<li><a href="index.html#clientsSection">Clients</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-col">
            <h4>Our Contacts</h4>
            <ul class="footer-contact">
                <li><i class="fa-solid fa-phone"></i><a href="tel:+96103322811">+96103322811</a></li>
                <li><i class="fa-regular fa-envelope"></i><a href="mailto:achi.gr@hotmail.com">achi.gr@hotmail.com</a></li>
                <li><i class="fa-solid fa-location-dot"></i> Lebanon</li>
            </ul>
        </div>

        <div class="footer-col">
            <h4 class="follow-title">Follow us</h4>
            <div class="footer-social">
                <a href="https://www.facebook.com/ACHISCAFF"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/achiscaffoldinglb?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-instagram"></i></a>
                <a href="https://x.com/AchiScaffolding"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.linkedin.com/company/achi-scaffolding/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.tiktok.com/@achiscaffolding"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>

    </div>
</footer>
