<div class="top-header">
  <div class="container top-header-inner">

    <a href="index.html" class="top-logo">
      <img src="images/ArchiScaffoldinglogo.png" class="site-logo" />
    </a>

    <div class="mobile-top-selects">
      <div class="mobile-item">
        <img src="images/header_glob.svg" class="header-icon"> Country
      </div>
      <div class="mobile-item">
        <img src="images/header_glob.svg" class="header-icon"> En
      </div>
    </div>

    <button class="nav-toggle">
      <span></span><span></span><span></span>
    </button>

  <div class="top-center-info">
  <span>
    <img src="images/header_location.webp" class="header-icon">
    Lebanon
  </span>

  <span>
    <img src="images/header_mail.webp" class="header-icon">
    achi.gr@hotmail.com
  </span>

  <span>
    <img src="images/header_wp.webp" class="header-icon">
    +96103322811
  </span>
</div>


    <div class="top-right-group">
    <div class="spacer"></div>  

      <div class="top-socials">
        <a href="https://www.facebook.com/ACHISCAFF"><img src="images/header_fb.svg" class="header-social-icon"></a>
        <a href="https://www.instagram.com/achiscaffoldinglb"><img src="images/header_in.svg" class="header-social-icon"></a>
        <a href="https://x.com/AchiScaffolding"><img src="images/header_x.svg" class="header-social-icon"></a>
        <a href="https://www.linkedin.com/company/achi-scaffolding/"><img src="images/header_lin.svg" class="header-social-icon"></a>
        <a href="https://www.tiktok.com/@achiscaffolding"><img src="images/header_tik.svg" class="header-social-icon"></a>
      </div>

      <div class="top-dropdowns">
        <div class="dropdown-box">
  <img src="images/header_glob.svg" class="header-icon">
  <span>Country</span>
  <i class="fa-solid fa-caret-down"></i>
</div>

<div class="dropdown-box">
  <img src="images/header_glob.svg" class="header-icon">
  <span>English</span>
  <i class="fa-solid fa-caret-down"></i>
</div>

      </div>

    </div>
  </div>
</div>


<nav class="main-nav">
  <div class="container nav-inner">
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="products.html">Products</a></li>
      <li><a href="index.html#clientsSection">Clients</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="index.html#contactForm">Contact us</a></li>
    </ul>
  </div>
</nav>

<div class="mobile-menu">

  <div class="mobile-menu-header">
    <img src="images/ArchiScaffoldinglogo.png" class="mobile-menu-logo">
    <button class="mobile-close"><i class="fa-solid fa-xmark"></i></button>
  </div>

  <ul class="mobile-nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About us</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="index.html#clientsSection">Clients</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="index.html#contactForm">Contact us</a></li>
  </ul>

  <div class="mobile-separator"></div>

  <div class="mobile-extra-info">
    <div><img src="images/header_location.webp" class="header-icon"> Lebanon</div>
    <div><img src="images/header_mail.webp" class="header-icon"> achi.gr@hotmail.com</div>
    <div><img src="images/header_wp.webp" class="header-icon"> +96103322811</div>
  </div>

  <div class="mobile-socials">
    <a href="https://www.facebook.com/ACHISCAFF"><img src="images/header_fb.svg" class="header-social-icon"></a>
    <a href="https://www.instagram.com/achiscaffoldinglb"><img src="images/header_in.svg" class="header-social-icon"></a>
    <a href="https://x.com/AchiScaffolding"><img src="images/header_x.svg" class="header-social-icon"></a>
    <a href="https://www.linkedin.com/company/achi-scaffolding/"><img src="images/header_lin.svg" class="header-social-icon"></a>
    <a href="https://www.tiktok.com/@achiscaffolding"><img src="images/header_tik.svg" class="header-social-icon"></a>
  </div>

</div>
