<div class="top-header">
  <div class="container top-header-inner">

    <a href="index.html" class="top-logo">
      <img src="images/ArchiScaffoldinglogo.png" class="site-logo" />
    </a>

    <div class="top-center-info">
      <span><i class="fa-solid fa-location-dot"></i> Lebanon</span>
      <span><i class="fa-regular fa-envelope"></i> achi.gr@hotmail.com</span>
      <span><i class="fa-brands fa-whatsapp"></i> +96103322811</span>
    </div>

    <div class="top-right-group">
      <div class="top-socials">
      <a href="https://www.facebook.com/ACHISCAFF"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/achiscaffoldinglb?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/AchiScaffolding"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/company/achi-scaffolding/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.tiktok.com/@achiscaffolding"><i class="fa-brands fa-tiktok"></i></a>
     
      </div>

      <div class="top-dropdowns">
        <div class="dropdown-box"><i class="fa-solid fa-globe"></i> <span>Country</span> <i class="fa-solid fa-caret-down"></i></div>
        <div class="dropdown-box"><i class="fa-solid fa-globe"></i> <span>English</span> <i class="fa-solid fa-caret-down"></i></div>
      </div>
    </div>

    <button class="nav-toggle">
      <span></span><span></span><span></span>
    </button>

  </div>
</div>

<nav class="main-nav">
  <div class="container nav-inner">
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="products.html">Products</a></li>
<li><a href="index.html#clientsSection">Clients</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="index.html#contactForm">Contact us</a></li>
    </ul>
  </div>
</nav>

<div class="mobile-menu">
  <div class="mobile-menu-header">
    <div class="mobile-logo">
      <img src="images/ArchiScaffoldinglogo.png" class="site-logo" />
    </div>

    <div class="mobile-lang">
      <i class="fa-solid fa-globe"></i> English
      <button class="mobile-close"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>

  <ul class="mobile-nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About us</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="products.html">Products</a></li>
<li><a href="index.html#clientsSection">Clients</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="index.html#contactForm">Contact us</a></li>
  </ul>

  <div class="mobile-extra-info">
    <div><i class="fa-solid fa-location-dot"></i> Lebanon</div>
    <div><i class="fa-regular fa-envelope"></i> achi.gr@hotmail.com</div>
    <div><i class="fa-brands fa-whatsapp"></i> +96103322811</div>

    <div class="mobile-socials">
        <a href="https://www.facebook.com/ACHISCAFF"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/achiscaffoldinglb?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/AchiScaffolding"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/company/achi-scaffolding/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.tiktok.com/@achiscaffolding"><i class="fa-brands fa-tiktok"></i></a>
     
    </div>
  </div>
</div>
